<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<% if user_signed_in? %>
		<p>hello, <%= current_user.email %> - <%= link_to "logout", destroy_user_session_url, method: :delete %>
	<% else %>
		<%= link_to "register", new_user_registration_url %> / <%= link_to "login", new_user_session_url %> /
		<%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), id: "login_facebook" %>
	<% end %>
</header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
